$lg-mobile: 576px;
$tablet: 768px;
$sm-desktop: 992px;
$desktop: 1200px;

@mixin line {
  content:  " ";
  display: block;
  width: 100%;
  border-bottom: 4px solid #000034;
}
@mixin white-line {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 2px solid #fff;
}
@mixin large-mobile {
  @media (min-width: $lg-mobile) { @content; }
}

@mixin tablet {
  @media (min-width: $tablet) { @content; }
}

@mixin small-desktop {
  @media (min-width: $sm-desktop) { @content; }
}

@mixin desktop {
  @media (min-width: $desktop) { @content; }
}
